<div class="concerts">
<ul>
<% @concerts.each do |concert| %>
    <li>
      <%= concert.date.day %>/<%= concert.date.month %>/<%= concert.date.year %> · <%= concert.band %> · <%= concert.city %> · <%= concert.price %>€.
    </li>
<% end %>
</ul>
</div>