<div class="concerts">
<ul>
<% @concerts.each do |concert| %>
    <li>   
      <%= concert.date.day %>/
      <%= concert.date.month %>/
      <%= concert.date.year %> · 
      <%= link_to(concert.band, concert_path(concert.id))%> · 
      <%= concert.city %> · 
      <%= concert.price %>€.
    </li>
<% end %>
</ul>
</div>