<h2>Welcome to musiconcerts</h2>

<div class="container">
  <div class="content">
    <h3>Concerts today</h3>
    <%= render '/shared/concerts_list' %>
  </div>
  <aside>
    <h3>Concerts next month</h3>
    <ul>
      <% @concerts_next.each do |concert| %>
        <li>
          <%= concert.date.day %>/<%= concert.date.month %> · 
          <%= concert.band %> · <%= concert.city %>
        </li>
      <% end %>
    </ul>
  </aside>
</div>