<h2>Concerts today</h2>

<ul>
<% @concerts.each do |concert| %>
    <li>
      <%= concert.date.day %>/<%= concert.date.month %>/<%= concert.date.year %> · <%= concert.band %> · <%= concert.city %> · <%= concert.price %>€.
    </li>
<% end %>
</ul>

<ul>
<% @concerts_next.each do |concert| %>
    <li>
      <%= concert.date.day %>/<%= concert.date.month %>/<%= concert.date.year %> · <%= concert.band %> · <%= concert.city %> · <%= concert.price %>€.
    </li>
<% end %>
</ul>