<h2>Concerts</h2>

<%= flash_message %>

<%= link_to("Add a new concert", new_concert_path) %>

<ul>
<% @concerts_sorted.each do |concert| %>
    <li>
      <%= concert.date.day %>/<%= concert.date.month %>/<%= concert.date.year %> · <%= concert.band %> · <%= concert.city %> · <%= concert.price %>€.
    </li>
<% end %>
</ul>