<h2><%= @concert.band %></h2>

<h3><%= @concert.date %> · <%= @concert.venue %> · <%= @concert.city %></h3>

<p><%= @concert.description %></p>

<p><%= @concert.price %></p>

<section class="comment-section" >
<h4>Comments</h4>

<%= render '/comments/form_comment' %>

<% if @concert.comments.any? %>
 
  <% @concert.comments.persisted.reverse.each do |comment| %>
    <div class="box">
      <p><%= comment.content %></p>
    </div> 
  <% end %>

<% end %>
</section>