<h2><%= @concert.band %></h2>

<h3><%= @concert.date.day %>/<%= @concert.date.month %>/<%= @concert.date.year %> · 
    <%= @concert.venue %> · 
    <%= @concert.city %></h3>

<p>Description: <%= @concert.description %></p>

<p>Price: <%= @concert.price %>€</p>

<section class="comment-section" >
<h4>Comments: <%= @concert.comments_count %></h4>

<%= render '/comments/form_comment' %>

<% if @concert.comments.any? %>
 
  <% @concert.comments.persisted.reverse.each do |comment| %>
    <div class="box">
      <p><%= comment.content %></p>
    </div> 
  <% end %>

<% end %>
</section>