<!DOCTYPE html>
<html>
<head>
  <title>Musiconcerts</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="logo-musiconcerts">
      <%= link_to("musiconcerts", root_path)%>
    </div>
    <nav class="main-nav">
      <li><%= link_to("Home", root_path) %></li>
      <li><%= link_to("Concerts", concerts_path) %></li>
      <li><%= link_to("Price", concerts_price_path) %></li>
      <li><%= link_to("Top", concerts_top_path) %></li>
    </nav>
  </header>

  <%= yield %>

  <footer>by Christian de Barrio 2015®. Ruby On Rails.</footer>
</body>
</html>
